<% content_for :title do %>
    Listing Ideas
<% end %>
<%= will_paginate @topics %>
<%=  @topics.each do |topic| %>
    <section style="border: 1px solid black;padding: 10px;margin: 10px">
      <h1><%= link_to topic.title, ideas_id_path(topic.id) %><br/></h1>
      Sector: <%= topic.sector %> <br/>
      Made by: <%= topic.made_by %><br/>
      Content: <%= topic.content %><br/>
      Time created: <%= time_ago_in_words(topic.created_at) %> ago
    </section>

<% end %>

<%= will_paginate @topics %>