<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @topic.sector %>
</p>

<p>
  <strong>Content:</strong>
  <%= @topic.content %>
</p>

<p>
  <strong>Made by:</strong>
  <%= @topic.made_by %>
</p>

<%= link_to 'Back', ideas_path %>

<% @topic.reviews.each do |review| %>
    <hr>
    <div>
    <b> <%= review.title %></b><br/>
    <%= time_ago_in_words(review.created_at) %> ago, by
    <b> <%= review.author %></b><br/>
    <p> <%= review.content %></p>
     rating: <%= review.rating %>
    </div>

<% end %>

<hr><hr>

<!-- rendering form from another directory, would work if I was using it -->
<%#= render :partial => 'reviews/form' %>

<!-- create new form by using @topic model and create new review using build -->
<%= form_for([@topic, @topic.reviews.build]) do |f| %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </div>
    <div class="field">
      <%= f.label :rating %><br>
      <%= f.number_field :rating %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

