<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @topic.sector %>
</p>

<p>
  <strong>Content:</strong>
  <%= @topic.content %>
</p>

<p>
  <strong>Made by:</strong>
  <%= @topic.made_by %>
</p>

<%= link_to 'Back', ideas_path %>

<% @topic.reviews.each do |review| %>
    <hr>
    <div>
    <b> <%= review.title %></b><br/>
    <%= time_ago_in_words(review.created_at) %> ago, by
    <b> <%= review.author %></b><br/>
    <p> <%= review.content %></p>
     rating: <%= review.rating %>
    </div>

<% end %>