<h1>Listing topics</h1>

<%= will_paginate @topics %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Sector</th>
      <th>Content</th>
      <th>Made by</th>
      <th>Time created</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic %></td>  <!-- clickable link to show page for each topic -->
        <td><%= topic.sector %></td>
        <td><%= truncate(topic.content, length: 90) %></td>
        <td><%= topic.made_by %></td>
        <td><%= topic.created_at %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @topics %>

<%= link_to 'New Topic', new_topic_path %>
