<div id="navcontainer">

<ul id="navlist">
<li><%= link_to_unless_current "Home", pages_home_path %></li>
<li><%= link_to_unless_current "Ideas", pages_ideas_path %></li>
<li><%= link_to_unless_current "Login", pages_login_path %></li>
<li><%= link_to_unless_current "New Idea", pages_new_idea_path %></li>
<li><%= link_to_unless_current "Contact Us", pages_contact_us_path %></li>
</ul>
</div>